header {
	color: white;
	background: black;
	font-family: helvetica;
	font-size: 200%;
	padding: 10px;
}
h2 {
	color: white;
	background: black;
}
main {
	font-family: helvetica;
}
footer {
	font-family: helvetica;
	padding-top: 25px;
}