@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.header-content {
	display: flex;
	justify-content: center;
	position: relative;
	top: 180px;
	align-items: center;
	text-align: center;
}
.logo-time {
	display: flex;
	position: relative;
	justify-content: center;
	top: 130px;
	font-size: 20px;
	font-family: 'Space mono', sans-serif;
}
.logo {
	background-image: url(../img/Supreme-logo.png);
	background-position: center;
	height: 100px;
	width: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}
.all-content{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	column-gap: 20px;
	margin-top: 386px;
}
.photo {
	width: 390px;
	height: 260px;
	margin-top: 40px;
}
.slider {
	position: relative;
	top: 50px;
	left: 45%;
	font-family: 'Space mono', sans-serif;
	cursor: pointer;
}
.copy {
	position: relative;
	width: 390px;
	height: 360px;
	font-size: 20px;
	line-height: 30px;
	font-family: 'Space mono', sans-serif;
}
span	{
	display: none;
	visibility: hidden;
}
.archive {
	font-style: italic;
	background-color: rgb(229, 37, 31);
	width: 85px;
	line-height: 23px;
	color: white;
	cursor: pointer;
}
.nav {
	display: flex;
	align-items: center;
	position: relative;
	top: 125px;
	text-decoration: none;
	color: black;
	padding-bottom: 99px;
	font-family: 'Space mono', sans-serif;
	font-size: 20px;
}
li {
	cursor: pointer;
}

@media screen and (min-width: 0px) {
	.all-content {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		row-gap: 40px;
		margin-top: 250px;
	}
	.copy {
		padding-top: 50px;
	}
}

@media screen and (min-width: 800px) {
	.all-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		column-gap: 20px;
		margin-top: 386px;
	}
}
