@import url(reset.css);

body {
	height: 3000px;
}
.header	{
	height: 140px;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	margin-left: 50px;
}
.logo-1 {
	width: 180px;
	height: 90px;
	transition-duration: .7s;
}
.logo-1:hover {
	transform: scale(1.2);
}
nav {
	height: 40px;
	width: 450px;
	align-items: flex-end;
}
.link {
	font-family: 'Arial';
	font-size: 50px;
	color: #ff0b49;
}
.hero-block {
	height: 950px;
	width: 100%;
	background-image: url(../img/evian_origins_logo.png);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-content: center;
}
.slogan {
	font-family: 'Arial';
	color: #ff0b49;
	font-style: normal;
	font-weight: 400;
	font-size: 100px;
	line-height: 115px;
	transition-duration: 1s;
}
.slogan:hover {
	transform: scale(1.2);
	transition-duration: .2s;
	transition-timing-function: ease;
}
main {
	padding-top: 140px;
}
.all-content {
	width: 1040px;
	margin: auto;
}
.bordered {
	width: 1040px;
	font-family: 'Arial';
	font-size: 25px;
	line-height: 29px;
	margin: 150px auto;

	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 24px;
}
strong {
	line-height: 35px;
}
.bordered:link {
	background-color: lightblue;
}
.bottles {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 174px;
}
figcaption {
	text-align: center;
	padding-top: 48px;
	font-family: 'Arial';
	font-size: 25px;
	line-height: 29px;
}
.bordered-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: ;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.05em;
	padding: 0 15px;
}
.glass {
	padding: 30px 80px;
}
.comp-details {
	margin-bottom: 15px;
}
.more {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.copy, .f-link {
	width: 330px;
	height: 40px;
	left: 50px;
	top: 3269px;

	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 57px;
	padding: 40px;
	color: #ff0b49
}
.footer {
	height: 140px;
	width: 100%;
	position: relative;
	margin-top: 150px;
	background: #F8BFC7
}