@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.header-content {
	display: flex;
	justify-content: center;
	position: relative;
	top: 180px;
	align-items: center;
	text-align: center;

}
.logo-time {
	display: flex;
	position: relative;
	justify-content: center;
	top: 130px;
	font-size: 20px;
	font-family: 'Space mono', sans-serif;
}
.logo {
	background-image: url(../img/Supreme-logo.png);
	background-position: center;
	height: 100px;
	width: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}
.all-content {
	display: flex;
	align-items: center;
	font-family: 'Space mono', sans-serif;
}
.nav {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	margin: auto;
	margin-top: 350px;
}
.link {
	text-decoration: none;
	color: white;
	line-height: 35px;
	font-size: 20px;
}
.link:hover {
	color: #30d5c8;
}
li {
	cursor: pointer;
}
.fb {
	background-image: url(../img/fb.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 30px;
	cursor: pointer;
}
.insta {
	background-image: url(../img/insta.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 30px;
	cursor: pointer;
}
.message {
	background-image: url(../img/message.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 30px;
	cursor: pointer;
}
.social {
	display: grid;
	grid-template-columns: repeat(3, 30px);
	margin-top: 78px;
	grid-column-gap: 30px;
	height: 30px;
	margin-bottom: 180px;
}
footer {
	display: grid;
	justify-items: center;
}
@media screen and (min-width: 0px) {
	.news {
	font-style: normal;
	background-color: black;
	}
}

@media screen and (min-width: 800px) {
	.news {
	font-style: italic;
	background-color: rgb(229, 37, 31);
	width: 48px;
	}
}
