@import url(reset.css);

header {
	background-color: #FE1A19;
	color: white;
	font-family: helvetica;
	height: 60px;
	position: relative;
}

h1 {
	position: absolute;
	padding: 20px;
}

section {
	background-color: floralwhite;
	font-family: helvetica;
	color: black;
}
.section {
	text-align: justify;
}
.recipe {
	width: 400px;
	height: 800px;
	border: 2px solid hotpink;
	border-radius: 90px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	box-sizing: border-box;
	margin: 52px 35px;
	padding: 40px;
	text-align: left;
}
.recipe-head {
	font-weight: 700;
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: left;
}
.recipe-text {
	padding-top: 12px;
	padding-bottom: 10px;
}
footer {
	top: 890px;
	background-color: #FE1A19;
	color: white;
	font-family: helvetica;
	height: 60px;
}
footer p {
	padding: 20px;
}